{{ define "main" }}

<header class="page-header">
  <h1>{{ .Title }}</h1>

  {{ $all := .RegularPages.ByWeight }}
  <p style="margin-top:.5rem; opacity:.75;">
    共 {{ len $all }} 章
  </p>

  {{ with .Content }}
    <div class="post-content">
      {{ . }}
    </div>
  {{ end }}
</header>

{{ $pages := .RegularPages.ByWeight }}

{{ range $pages }}
  <article class="post-entry">
    <header class="entry-header">
      <h2 class="entry-hint-parent">
        <a href="{{ .RelPermalink }}">
          第 {{ .Weight }} 章 · {{ .Title }}
        </a>
      </h2>
    </header>

    <div class="entry-content">
  <p>{{ .Plain | truncate 10 }}</p>
</div>

    <footer class="entry-footer">
      {{ with .Date }}
        {{ .Format "January 2, 2006" }}
      {{ end }}
    </footer>

    <a class="entry-link" aria-label="post link to {{ .Title }}" href="{{ .RelPermalink }}"></a>
  </article>
{{ end }}

{{ end }}
